Package: com.raulsaeed.bhtiktok++
Name: BHTikTok++
Description: An awesome tweak for TikTok!
Maintainer: raul saeed
Author: raul saeed
Section: Tweaks
Depends: mobilesubstrate
Architecture: iphoneos-arm64e
Version: 1.9.3
Installed-Size: 1124
Pre-Depends: rootless-compat(>= 0.9)
